<div class="container">
    <mat-card>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Candidate view">
                <div class="space-y"></div>
                <mat-card-header>
                    <mat-card-title>
                        Linkedin info
                    </mat-card-title>
                </mat-card-header>
                <form [formGroup]="profileForm">
                    <mat-form-field class="full-width">
                        <input type="text" matInput placeholder="User access token" formControlName="accessToken" required>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
                <div *ngIf='firstName!=null'>
                    <mat-divider [inset]="true"></mat-divider>
                    <div class="space-y"></div>
                    <mat-card-title-group>
                        <a [href]="link" target=”_blank”>
                            <img mat-card-sm-image matTooltip="user profile" src="../../../assets/images/linkedin-img.png" alt="Photo of Linkedin Icon">
                        </a>
                        <mat-card-title>
                           {{firstName +" "+ lastName}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                Linkedin id: {{id}}
                            </div>
                            <div>
                                Currently living in {{country}}
                            </div>
                            <div>
                                Primary language is {{language}}
                            </div>
                        </mat-card-subtitle>
                    </mat-card-title-group>
                </div>
                <mat-card-actions>
                        <button mat-raised-button matTooltip="Fetches and saves" color="primary"(click)="onSubmit()">Update</button>
                </mat-card-actions>
            </mat-tab>
            <mat-tab label="Client view">
                <div class="space-y"></div>
                <mat-card-header>
                    <mat-card-title>
                        Linkedin info
                    </mat-card-title>
                </mat-card-header>
                    <div *ngIf='firstName!=null'>
                        <mat-divider [inset]="true"></mat-divider>
                        <div class="space-y"></div>
                        <mat-card-title-group>
                            <a [href]="link" target=”_blank” >
                                <img mat-card-sm-image matTooltip="user profile" src="../../../assets/images/linkedin-img.png" alt="Photo of Linkedin Icon">
                            </a>
                            <mat-card-title>
                                {{firstName +" "+ lastName}}
                            </mat-card-title>
                            <mat-card-subtitle>
                                    <div>
                                        Linkedin id: {{id}}
                                    </div>
                                    <div>
                                        Currently living in {{country}}
                                    </div>
                                    <div>
                                        Primary language is {{language}}
                                    </div>
                            </mat-card-subtitle>
                        </mat-card-title-group>
                    </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>



  