<div class="container">
    <mat-card>
        <div class="space-y"></div>
        <mat-card-header>
            <mat-card-title>
                Linkedin info
            </mat-card-title>
        </mat-card-header>
            <div *ngIf='firstName!=null'>
                <mat-divider [inset]="true"></mat-divider>
                <div class="space-y"></div>
                <mat-card-title-group>
                    <a [href]="link" target=”_blank”>
                            <img mat-card-sm-image matTooltip="user profile" src="../../../assets/images/linkedin-img.png" alt="Photo of Linkedin Icon">
                    </a>                    
                    <mat-card-title>
                        {{firstName +" "+ lastName}}
                    </mat-card-title>
                    <mat-card-subtitle>
                            <div>
                                Linkedin id: {{id}}
                            </div>
                            <div>
                                Currently living in {{country}}
                            </div>
                            <div>
                                Primary language is {{language}}
                            </div>
                    </mat-card-subtitle>
                </mat-card-title-group>
            </div>
    </mat-card>
</div>
